@import compass/reset
@import compass/css3

body
  padding: 20px
  background: white image_url('bg.gif') repeat
  
  img
    padding: 10px
    margin: 30px
    @include box-shadow(#CCC, 0, 2px, 5px, 3px)